<p id="notice"><%= notice %></p>

<div class="buttons">
<% @question.tag_list.each do |tag| %>
  <button class="button">
    <%= link_to tag, tagged_questions_path(tag: tag) %>
  </button>
<% end %></p>
</div>


<h1 class="title is-1"><%= @question.title %></h1>

<p> By
  <%= link_to profile_path(@question.user) do %>
  <%= @question.user.email %>
  <% end %>
</p>

<div class="buttons">
  <button class=" button is-light" onclick="answer(<%=@question.id%>)">
    <span>Answer</span>
  </button>

  <button class="button is-light">
    <span>Pass</span>
  </button>

  <button class="button is-light">
    <span>Follow</span>
  </button>

  <button class="button is-light">
    <span>More</span>
  </button>

  <button class="button">
    <span class="icon"><i class="fas fa-ellipsis-h"></i></span>
  </button>
</div>
<div class="answer_form" id="answer_form_<%=@question.id%>" style="display:none;">
  <%= render "shared/new_answer", question: @question %>
</div>

<% if @question.user == current_user %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
<% end %>

<h3 class="title is-3"><%= @question.answers.count %> Answer(s)</h3>

<hr />

<%= render "shared/show_answers" %>