<div class="columns">
  <div class="column">
    <div class="columns">
      <div class="column">
        <div class="image">
          <%= image_tag @user.avatar_attachment_path, style: "height: 200px" %>
        </div>
      </div>
      <div class="column">
        <%= @user.name %>
      </div>
    </div>
    <%= @user.description %>
    <div class="buttons">
      <button class="button is-light is-small">Follow</button>
      <button class="button is-light is-small">Notify Me</button>
      <button class="button is-light is-small">Ask Question</button>
      <button class="button is-light is-small">...</button>
    </div>
    <hr />
    <div class="buttons">
      <button class="button is-light is-small">Profile</button>
      <button class="button is-light is-small" onclick="answer('answers')">Answers (<%= @answers.count %>)</button>
      <button class="button is-light is-small" onclick="answer('questions')">Questions (<%= @questions.count %>)</button>
      <button class="button is-light is-small">Shares</button>
      <button class="button is-light is-small">Posts</button>
      <button class="button is-light is-small">Followers</button>
      <button class="button is-light is-small">More</button>
    </div>
    <hr />
    <div>
      <div class="answer_form" id="answer_form_answers" style="display:none;">
        <% @answers.each do |answer| %>
        <%= render  "components/answer", answer: answer %>
        <% end %>
      </div>
      <div class="answer_form" id="answer_form_questions" style="display:none;">
        <table class="table is-bordered is-fullwidth">
          <% @questions.each do |question| %>
          <%= render  "components/question", question: question %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="cred_high">
      <h2>Credentials & Highlights</h2>
      <hr>
      <%= render  "employment/employment" %>
      <%= link_to  "Add employment credential", new_user_employment_path(current_user) %>
    </div>
    <br />
    <br />
    <div class="spaces">
      <h2>Spaces</h2>
      <hr>
    </div>
    <br />
    <br />
    <div class="knows_about">
      <h2>Knows About</h2>
      <hr />
    </div>
  </div>
</div>