<!DOCTYPE html>
<html>

<head>
  <title>Questionless</title>
  <%= favicon_link_tag asset_path('questionless.png') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% unless controller.controller_name == 'pages' && controller.action_name == 'landing' %>
  <%= render  "shared/navbar" %>
  <%= render  "shared/error" %>
  <% end %>

  <br />
  <div class="columns" id="yield" style="rgba(255, 255, 255, 0.6)">
    <div class="column is-1"></div>
    <div class="column">
      <%= yield %>
    </div>
    <div class="column is-1"></div>
  </div>

  <%# <footer class="footer">
    <div class="content has-text-centered">
      Built by <a href="https://linktr.ee/RossAndrewBaker" target="_blank">Ross</a>, <a href="https://linktr.ee/dukeraphaelng" target="_blank">Duke</a> and <a href="https://linktr.ee/morganbat" target="_blank">Morgan</a>.
    </div>
  </footer> %>
</body>

</html>