<!DOCTYPE html>
<html>

<head>
  <title>Questionless</title>
  <%= favicon_link_tag asset_path('questionless.png') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render  "shared/navbar" %>
  <%= render  "shared/error" %>
  <%= yield %>
</body>

</html>