<!DOCTYPE html>
<html>

<head>
  <title>Questionless</title>
  <%= favicon_link_tag asset_path('questionless.png') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% unless controller.controller_name == 'pages' && controller.action_name == 'landing' %>
  <%= render  "shared/navbar" %>
  <%= render  "shared/error" %>

  <br />
  <div class="columns">
    <div class="column is-1"></div>
    <div class="column">
<% end %>
      <%= yield %>
<% unless controller.controller_name == 'pages' && controller.action_name == 'landing' %>

    </div>
    <div class="column is-1"></div>
  </div>
<% end %>

<footer>
  Built by <a href = "https://linktr.ee/RossAndrewBaker" target = "_blank">Ross</a>, <a href = "https://linktr.ee/dukeraphaelng" target = "_blank">Duke</a> and <a href = "https://linktr.ee/morganbat" target = "_blank">Morgan</a>.
</footer>
</body>

</html>